* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

.top-div {
  display: flex;
  background-color: aqua;
  width: 100%;
  min-width: 100px;
}

.top-logo-div {
  display: flex;
  background-color: white;
  width: 50%;
  padding-left: 150px;
  padding-top: 10px;
  align-items: center;
  font-size: 15px;
  color: #6070ff;
}

.top-nav-div {
  width: 50%;
  background-color: white;
  padding: 10px;
  font-size: 10px;
  display: flex;
}

.top-nav-item-div {
  background-color: white;
  padding: 10px;
  font-size: 10px;
  display: flex;
  list-style: none;
  color: #344563;
}

.top-nav-item-div li {
  margin-left: 50px;
  font-size: 15px;
}

.body-div {
  width: 100%;
  height: 600px;
  display: flex;
}

.img-div-1 {
  position: absolute;
  padding-left: 25px;
  padding-top: 50px;
}

.img-div-2 {
  position: absolute;
  padding-left: 75px;
  padding-top: 100px;
}

.img-div-3 {
  position: absolute;
  padding-left: 550px;
  padding-top: 100px;
}

.img-div-4 {
  position: absolute;
  padding-left: 575px;
  padding-top: 115px;
}

.img-div-5 {
  position: absolute;
  padding-left: 925px;
  padding-top: 15px;
}

.img-div-6 {
  position: absolute;
  padding-left: 980px;
  padding-top: 90px;
}

.img-div-7 {
  position: absolute;
  padding-left: 125px;
  padding-top: 515px;
}

.img-div-8 {
  position: absolute;
  padding-left: 115px;
  padding-top: 535px;
}

.img-div-9 {
  position: absolute;
  padding-left: 700px;
  padding-top: 450px;
}

.img-div-10 {
  position: absolute;
  padding-left: 575px;
  padding-top: 440px;
}

.content-div {
  width: 700px;
  height: 200px;
  margin-top: 200px;
  margin-left: 200px;
}

.content-header-div {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  align-items: center;
  letter-spacing: 0.37px;
  margin-bottom: 10px;
  color: #091e42;
}

.content-text-div {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #344563;
}

.lets-connect-div {
  color: #7f8cff;
}

.icon {
  padding-right: 10px;
  padding-top: 10px;
}
